[class*="col-"]{
    background-color: #f5c3cb;
    border: 1px solid black;
    min-height: 100px;
}

/* intestazione HEADER*/

header{
    min-height: 100px;
}
div.link-logo{
    position: relative;
    height: 100px;
}
img.image-logo{
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}









/* PRIMA SESSIONETITOLO ISCRIZIONE IMMAGINE BLUE*/

section.section-blue{
    min-height: 400px;
    background-color: #1950f5;
}





/* SECONDA SESSIONE PARTENERS */

section.section-partners-gray, section.section-designed-gray, section.section-digital{
    min-height: 200px;
    background-color: #f3f5f9;
}


/* _______INIZIO SESSIONE CONFIGURATION_______ */
section.section-configuration-white, section.section-feature{
    min-height: 500px;

}


/* INIZIO SESSIONE DESIGNED */


/* INIZIO SESSIONE FEATURE */


/* INIZIO SESSIONE 12 REGIONS */
section.section-12regions-gradation, section.section-started{
    background-image: linear-gradient(to top, #062595, #0e36a7, #1949bd );
    min-height: 300px;
}

/* INIZIO SESSIONE DIGITAL */

/* INIZIO SESSIONE STARTED */


/* INIZIO REGOLE FOOTER */

footer{
    background-color: #091d4b;
    min-height: 300px;
}
